<%# comentario blablabla %>

<%- include('includes/head'); %>

<section class="container">
  <h1>
    <%= umaVariavelLocal %> <br>
    <%= tituloSemHTML %> <br>
    <%- tituloComHTML %> <br>

    <% if(typeof tituloComHTML != 'undefined') { %>
      <%- tituloComHTML %> <br>
    <% } %>

    <% numeros.forEach(num => { %>
      <%= num %> <br>
    <% }); %>
  </h1>

  <form action="/" method="post">
    <label>Cliente</label>
    <input type="text" name="cliente">
    <button>Submit</button>
  </form>
</section>

<%- include('includes/footer'); %>

